node {
    size: 15px, 15px;  /* Node size */
    fill-color: rgb(0, 0, 0);  /* Node color */
    text-color: rgb(183, 111, 111);  /* Label color */
    text-size: 20px;  /* Label font size */
}

edge {
    fill-color: rgb(255, 255, 255);   /*Edge color */
    size: 1px;   /*Edge thickness */
    text-mode: normal; /* Ensures text is visible */
    text-size: 10px;
    text-style: bold;
    text-color: white;
    text-background-mode: rounded-box; /* Adds a background around the text */
    text-background-color: black;      /* Background color to simulate an outline */
}

node.exhibitor {  /* red for exhibitor nodes */
    fill-color: rgb(194, 24, 7);
}

node.inhibitor {  /* blue for inhibitor nodes */
    fill-color: rgb(49,83,153);
}

node.highlighted {  /*  */
    size: 20px;  /* Node size */
    fill-color: rgb(255, 226, 8);
}

edge.highlighted {  /*  */
    fill-color: rgb(255, 226, 8);
    size: 3px;   /*Edge thickness */
    text-mode: normal; /* Ensures text is visible */
    text-size: 10px;
    text-style: bold;
    text-color: rgb(255, 226, 8);
    text-background-mode: rounded-box; /* Adds a background around the text */
    text-background-color: black;      /* Background color to simulate an outline */
}

/* New style for graph background color */
graph {
    fill-color: rgb(28, 27, 27);  /* Change this to your desired color */
}
